<div id="balancePopup" class="popup">
  <h2>Balance Tweaker</h2>
  <table id="balanceTable" class="mx-auto mt-3">
    <tr><td>Passive XP /s</td><td><input data-setting="XP_PASSIVE" type="number"></td></tr>
    <tr><td>XP per Hit</td><td><input data-setting="XP_PER_HIT" type="number"></td></tr>
    <tr><td>XP per Kill</td><td><input data-setting="XP_PER_KILL" type="number"></td></tr>
    <tr><td>XP Base</td><td><input data-setting="xpBase" type="number"></td></tr>
    <tr><td>XP Growth Exp</td><td><input data-setting="xpGrowthExp" type="number"></td></tr>
    <tr><td>Damage +0-4</td><td><input data-setting="dmgStepLow" type="number"></td></tr>
    <tr><td>Damage @5</td><td><input data-setting="dmgStepCap" type="number"></td></tr>
    <tr><td>Damage post-5</td><td><input data-setting="dmgStepHi" type="number"></td></tr>
  </table>
  <div class="mt-3">
    <button class="popupBtn balance-apply">Apply</button>
    <button class="popupBtn balance-close">Back</button>
  </div>
</div>
