<div id="leaderboardPopup" class="popup">
  <h2>Leaderboard</h2>
  <div>
    <div>
      <h3 style="color:var(--blue-team)">Blue Fleet</h3>
      <table id="lbBlue" class="table table-dark table-sm"></table>
    </div>
    <div>
      <h3 style="color:var(--red-team)">Red Fleet</h3>
      <table id="lbRed" class="table table-dark table-sm"></table>
    </div>
  </div>
</div>
