<div id="pausePopup" class="popup">
  <button id="continueButton" class="popupBtn">Continue</button>
  <button id="restartButton" class="popupBtn">Restart</button>
  <button id="endButton" class="popupBtn">End Game</button>
  <button id="openSettingsPause" class="popupBtn">Settings</button>
</div>
