<div id="blueTeamPopup" class="teamPopup custom-scrollbar">
  <h4>Blue Team</h4>
  <ul id="playersLeft" class="list-unstyled"></ul>
  <button id="addBotLeft" class="btn btn-sm btn-light mt-2">Add Bot</button>
  <button id="balanceLeft" class="btn btn-sm btn-secondary mt-2" style="display:none;">Balance</button>
</div>
<div id="redTeamPopup"  class="teamPopup custom-scrollbar">
  <h4>Red Team</h4>
  <ul id="playersRight" class="list-unstyled"></ul>
  <button id="addBotRight" class="btn btn-sm btn-light mt-2">Add Bot</button>
  <button id="balanceRight" class="btn btn-sm btn-secondary mt-2" style="display:none;">Balance</button>
</div>

